body {
     background: #CCCCCC
}

h1 {
    text-align: center
}


P {
   text-align: center;

}

#missão {
        font-syze: 20px
}

em Strong {
          Color: red;
}


banner {
    width: 60%;
}

.principal {
 background: #CCCCCC
 padding: 30px;
}

.titulo-principal {
    padding-right: 20px;
  }
.titulo-centralizado {
 text-align: center;
  }
